﻿@model WebPhotoAlbum.Models.AuthorProfile.EditAuthorProfileVM

@{
    ViewBag.Title = "EditAuthorProfile";
    Layout = "~/Views/Shared/_LayoutAuthorPage.cshtml";
}



<div class="login-content">
    <div class="login-form ">
        @using (Html.BeginForm("EditAuthorProfile", "AuthorProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h2>Edit Profile</h2>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id);
            <hr />
            <div class="help-block">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
          
            @Html.LabelFor(m => m.Name, new { @class = "  login-label" })

            @Html.TextBoxFor(m => m.Name, new { @class = "form-control  login-input" })

            @Html.LabelFor(m => m.Surname, new { @class = "login-label" })

            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control login-input" })

            @Html.LabelFor(m => m.OldPassword, new { @class = "login-label" })

            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control login-input" })

            @Html.LabelFor(m => m.Password, new { @class = "login-label" })

            @Html.PasswordFor(m => m.Password, new { @class = "form-control login-input" })


            @Html.LabelFor(m => m.ConfirmPassword, new { @class = " login-label" })

            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control login-input" })






            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default login-button" value="Save" />
                </div>
            </div>
        }
    </div>
</div>

