﻿@model WebPhotoAlbum.Models.Tag.TagVM
<div class="postModal-tag">
    <div class="postModal-tag-delete" onclick="RemoveTag('@Model.Title')" id="@Model.Id"> 
    <img src="~/Content/Images/icons/deleteTag.svg" alt="delete tag" />
        </div>
    <div id="tagName">@Model.Title</div>
</div>
