﻿@model WebPhotoAlbum.Models.Tag.TagVM


<div class="postModal-wrapper">

    <div class=" modal-dialog tagModal">
       
        <div class="modal-content">


            <input type="hidden" name="name" value="@Model.Id" />
            <div class="postModal-closeButton-wrapper">

                <button type="submit" class="postModal-closeButton" data-dismiss="modal" aria-hidden="true">
                    <img src="~/Content/Images/icons/cencelNewPost.svg" alt="cencel" />
                </button>

            </div>
            <div>
                <p class="postModal-title">NEW TAG</p>
            </div>

            <div class="modal fade" id="CreateTagModal" role="dialog"></div>
            <div>
                <div class="modal-body tagModal-body">

                    <div class="description-container">
                        <div class="tagModal-inputWrapper">
                            @Html.TextBoxFor(model => model.Title, new { @placeholder = "tag title", @class = "tagModal-input", @id= "TagTitle", @onchange = "SearchTagInterval()" })
                         
                            <button onclick="AddTag()" class="tagModal-addButton" >add</button>
                        </div>
                     
                        <div class="tagModal-searchedTags" id="searchedTags">

                        </div>


                    </div>
                </div>

            </div>

        </div>

        </div>
 
</div>