﻿@using WebPhotoAlbum.Helpers;
@model List<WebPhotoAlbum.Models.Home.DisplayPostVM>


<div id="loader" class="loader"><div class="loader-img"></div></div>
<div>
    <div id="images" style="display:none">
        @if (Model != null && Model.Count>0)
        {
            @MansotyGrid.CreateGrid(Html, Model);
        }

    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/home")
@Scripts.Render("~/bundles/homeScroll")
@Scripts.Render("~/bundles/rating")
<script>

</script>
