﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Authors", "Index", "AdminUsers")</li>

            </ul>
            <div class="logout_block">
                <ul class="nav navbar-nav ">


                    <li class="nav-item">
                        <a class="nav-link form-inline text-dark" href="@Url.Action("Logout","Account")">Выйти</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content  admin-content">
        @RenderBody()
    </div>
</body>
</html>
