﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Styles/NewPost.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Styles/TagModal.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Styles/HomeLayout.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Styles/Home.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Styles/ShowPost.css" />
    <script src="~/Scripts/Scripts/Post.js"></script>
</head>
<body  onload="showImages()">
    <div class="header">


        <a class="header-link" href="@Url.Action("Index","Home")">
            HOME
        </a>

        <div class="header-searchInput-wrapper">
            <input type="text" class="header-searchInput" name="searchInput" id="searchPostInput" placeholder="search" />
            <div class="search-icon-wrapper" onclick="SearchPost()">
                <div class="search-icon-block">
                    <img src="~/Content/Images/icons/search.svg" class="search-icon" alt="Alternate Text" />
                </div>
            </div>

        </div>


        <a href="#" class="header-link" onclick="GetNewPostModal()">NEW POST</a>

        <a class="header-link" href="@Url.Action("Index","AuthorProfile")">
            PROFILE
        </a>
    </div>

    @RenderBody()

    <div class="modal fade" id="CreatePostModal" role="dialog"></div>
    <div class="modal fade" id="CreateTagModal" role="dialog"></div>
    <div class="modal fade " id="ShowPostModal" role="dialog" ></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)



</body>
</html>
