﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Styles/HomeLayout.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Styles/Home.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Styles/Login.css" />
</head>
<body>
    <div class="header">


        <a class="header-link" href="@Url.Action("Index","Home")">
            HOME
        </a>
       
    </div>

        @RenderBody()

  



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)



</body>
</html>
