﻿@{

    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="Error-center">
        <h2>Forbidden 403</h2>
        <h2>Sorry! We are working to fix this issue.</h2>
    </div>

</body>
</html>