﻿
.authorProfile-header {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
}
.authorProfile-linksMenu
{
    display:flex;
}
.authorProfile-image
{
    border-radius:100px;
    height:200px;
    width:200px;
    margin-bottom:50px;
}
.authorProfile-text
{
    font-size:24px;
    margin-bottom:10px;
}
.authorProfile-contentWrapper
{
    display:flex;
   margin-top:100px;
    flex-direction:column;
    align-items:center;
    height:100%;
    width:100%;

}
.authorProfile-pageWrapper {
    width: 100%;
    height: 100%;
}
.authorProfile-postsBlock_title
{
    margin-top:30px;
}
.authorProfile-helloText
{
    font-size:24px;

}