﻿/*.container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;*/
    /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
    /*height: 960px;*/
    /* Optional */
    /*background-color: #f7f7f7;
    border-radius: 3px;
    padding: 20px;
    width: 60%;
    margin: 40px auto;
    counter-reset: items;
}

.item {
    width: 24%;*/
    /* Optional */
    /*position: relative;
    margin-bottom: 2%;
    border-radius: 3px;
    background-color: #a1cbfa;
    border: 1px solid #4290e2;
    box-shadow: 0 2px 2px rgba(0,90,250,0.05), 0 4px 4px rgba(0,90,250,0.05), 0 8px 8px rgba(0,90,250,0.05), 0 16px 16px rgba(0,90,250,0.05);
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}*/

/* Just to print out numbers */
/*div.item::before {
    counter-increment: items;
    content: counter(items);
}*/

/* Re-order items into 3 rows */
/*.item:nth-of-type(4n+1) {
    order: 1;
}

.item:nth-of-type(4n+2) {
    order: 2;
}

.item:nth-of-type(4n+3) {
    order: 3;
}

.item:nth-of-type(4n) {
    order: 4;
}*/

/* Force new columns */
/*.break {
    flex-basis: 100%;
    width: 0;
    border: 1px solid #ddd;
    margin: 0;
    content: "";
    padding: 0;
}

body {
    font-family: sans-serif;
}

h3 {
    text-align: center;
}
.masonry {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;*/ /* Adjustment for the gutter */
    /*width: 100%;
}

.masonry-brick {
    flex: auto;
    height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0;*/ /* Some gutter */
/*}
.masonry-brick:nth-child(4n+1) {
    width: 250px;
}

    .masonry-brick:nth-child(4n+1):nth-child(4n+2) {
        width: 325px;
    }

    .masonry-brick:nth-child(4n+1):nth-child(4n+3) {
        width: 180px;
    }

    .masonry-brick:nth-child(4n+1):nth-child(4n+4) {
        width: 380px;
    }
.masonry-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
   
}
.masonry-wrapper
{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:30px;
}*/


.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-auto-flow: dense;
    padding: 10px;
    margin-left:5%;
    margin-right:5%;
    margin-top:120px;
    width:90%;
}

.grid-item {

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #fff;
    margin-right:10px;
    margin-bottom:10px;
   background-color:white;
   max-height:300px;
 


}


.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
    max-height:600px;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
    max-height: 750px;
}
.block-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:15px;
}
   
.grid-item:hover {
    background-color: black;
    transform: scale(1.2);
    cursor: pointer;
}
.nextPossWrapper
{
    display:none;
}
.hideImg
{
    display:none;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader-image {
    background-image: url(/Content/Images/loaders/loader-50px.svg);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
 
}