﻿.login-content {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;

}
.login-form {
    width: 80%;
    display:flex;
    justify-content:center;
}
.login-label {
    margin-bottom: 20px;
    font-size: 16px;
    margin-top:20px;
}
.login-input {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    font-size: 16px;
    max-width: 150px;
    margin: 0 auto;
}
.login-button
{
    background-color:black;
    color:white;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:20px;
}