﻿
.displayPost-modal {
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
   
}
.displayPost-container {
    min-height: 680px;
    width: 100%;
}
.displayPost-wrapper {
    display: flex;
    justify-content: center;
    max-width: 700px;
    height: 650px;
    margin: 0 auto;
    margin-top: 40px;
   
}
.displayPost-image {
    width: 100%;
    margin-top: -20px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.displayPost-body
{
    padding:0px;
    margin:0 auto;
    padding-bottom:20px;
}
.displayPost-content
{
    border-radius:20px;
}
.displayPost-title
{
    margin-left:20px;
    margin-top:20px;
    margin-bottom:10px;
}
.displayPost-description
{
    margin-left:20px;
    margin-right:20px;
}
.displayPost-tags {
    display:flex;
    flex-wrap:wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.displayPost-tag
{
    margin-right:10px;
}
.displayPost_ratingWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.displayPost-ratingCounter
{
    margin-left:8px;
    margin-right:8px;
   
}
.displayPost-ratingImg-wrapper
{
    cursor:pointer;
}
.dropdown-wrapper
{
    display:flex;
    width:100%;
}

.showLeft {
   
    text-shadow: none !important;

    padding: 10px;
}

.icons li {
    background: none repeat scroll 0 0 black;
    height: 6px;
    width: 6px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 3px;
    vertical-align: top;
    border-radius: 50%;
    pointer-events: none;
}

.btn-left {
    left: 0.4em;
}

.btn-right {
    right: 0.4em;
}

.btn-left, .btn-right {
    position: absolute;
    top: 0.24em;
}

.dropbtn {
  
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transform:rotate(90deg);
}

    .dropbtn:hover, .dropbtn:focus {
        cursor:pointer;
    }

.dropdown {
    position: absolute;
    display: inline-block;
    right: 0.4em;
}

.dropdown-content {
    display: none;
    position: relative;
    margin-top: 30px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content div{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        cursor:pointer;
    }

.dropdown a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

