﻿@using WebPhotoAlbum.Models.Account
@using System.Web.Optimization
@model LoginModel
@{
    ViewBag.Title = "Welcome!";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="login-content">
    <h2>@ViewBag.Title</h2>
    <div class="login-form ">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      
                        @Html.LabelFor(m => m.Email, new { @class = " login-label " })
            
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-input" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
           
             
                        @Html.LabelFor(m => m.Password, new { @class = " login-label" })
               
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control login-input" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    
            

                    <div class="form-group">
                       
                            <input type="submit" value="Sign In" class="btn btn-default login-button" />
                     
                    </div>
                    <p>
                        @Html.ActionLink("Registration", "Register")
                    </p>
                    @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
                        <p>
                            @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>


</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}