﻿@model WebPhotoAlbum.Models.Home.SinglePostVM


<div class="displayPost-wrapper">

    <div class=" modal-dialog  displayPost-modal">

        <div class="modal-content displayPost-content">


            <input type="hidden" name="name" value="@Model.Id" />
      
            <div>
                <div class="modal-body displayPost-body ">


                    <img src="@Url.Action("GetChoosedPostImage","Post",new { Id=Model.Id})" class="displayPost-image" alt="Alternate Text" />

                    <div id="rating"><div>@Html.Partial("~/Views/Post/Partial/DisplayRatingView.cshtml", Model.RatingVM)</div></div> 
                    <div class="displayPost-title">TAGS:</div>
                    <div class="displayPost-tags">
                        @if (Model.Tags.Count > 0)
                        {
                            foreach (var item in Model.Tags)
                            {
                                <div class="displayPost-tag"> @item.Title</div>
                            }
                        }
                        else
                        {
                            <div class="displayPost-tag"> Тегов нет</div>
                        }

                    </div>

                    <div class="displayPost-title">DESCRIPTION:</div>
                    @if (!(Model.Description == null || Model.Description==""))
                    {
                        <div class="displayPost-description">@Model.Description</div>
                    }
                    else
                    {
                        <div class="displayPost-description">Описания нет</div>
                    }

                </div>
                </div>

            </div>

        </div>

    </div>

</div>
