﻿@model WebPhotoAlbum.Models.Post.PostVM


<div class="postModal-wrapper">

    <div class=" modal-dialog postModal">
        <div class="postModal-content">
            <div class="modal-content postModal-container">


                <input type="hidden" name="name" value="@Model.Id" />
                <div class="postModal-closeButton-wrapper">
                  
                        <button type="submit" class="postModal-closeButton" data-dismiss="modal" aria-hidden="true">
                            <img src="~/Content/Images/icons/cencelNewPost.svg" alt="cencel" />
                        </button>
              
                </div>
                <div>
                    <p class="postModal-title">NEW POST</p>
                </div>


                <div>
                    @using (Html.BeginForm("CreatePost", "Post",
                      FormMethod.Post, new { enctype = "multipart/form-data", id= "formNewPost" }))
                    {
                    <div class="modal-body postModal-mainBody">

                        @Html.ValidationSummary()
                        <label class="postModal-photo" id="inputLabel">
                            <input type="file" class="postModal-imgInput" name="InputImage" id="inputImage" onchange="readURL(this);" />
                            <img src="~/Content/Images/icons/plus.svg" id="image" name="image" class="postModal-img" alt="Alternate Text" />
                        </label>
                       @Html.ValidationMessageFor(m => m.InputImage, "", new { @class = "text-danger" })
                        <div class="description-container">
                            @Html.TextAreaFor(model => model.Description, new { placeholder = "post description", @class = "description" })
                            <div class="postModal-tagInputs">
                                <div class="postModal-title-tags">TAGS</div>
                                <div onclick="GetTagModal()" class="postModal-button postModal-button-addTag">add tag</div>
                            </div>
                            <div class="postModal-tagsWrapper" id="tags">



                            </div>


                        </div>
                    </div>

                        <div class="postModal-footer">
                            <button type="submit" class="postModal-button postModal-button-save" onclick="NewPostIsValid()" id="btnOk">SAVE</button>

                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
</div>