﻿
@model WebPhotoAlbum.Models.Post.DeletePostConfirmVM

<div class="postModal-wrapper">

    <div class=" modal-dialog tagModal">

        <div class="modal-content">


            <input type="hidden" name="name" value="@Model.Id" />
            <div class="postModal-closeButton-wrapper">

                <button type="submit" class="postModal-closeButton" data-dismiss="modal" aria-hidden="true">
                    <img src="~/Content/Images/icons/cencelNewPost.svg" alt="cencel" />
                </button>

            </div>
            <div>
                <p class="postModal-title">Delete confirmation</p>
            </div>

            <div class="modal fade" id="CreateTagModal" role="dialog"></div>
            <div>
                <div class="modal-body tagModal-body">
                    @using (Html.BeginForm("DeletePost", "Post",
                                        FormMethod.Post, new { enctype = "multipart/form-data", id = "formNewPost" }))
                    {
                        <div class="description-container">
                            Are you sure that you want delete post?
                        </div>
                        <input type="hidden" value="@Model.Id" name="Id"/>
                        <div class="postModal-footer">
                            <button type="submit" class="postModal-button postModal-button-save" id="btnOk">Delete</button>
                        </div>
                    }
                    </div>

            </div>

        </div>

    </div>

</div>
